<a href="https://colab.research.google.com/github/jessica8403/TIL/blob/master/22_01_05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
n = int(input())

sum=0

for i in range(1,n+1):
  sum+=i

  if sum>=n:
    break 

print(i)

55
10

In [11]:
n,m= map(int,input().split())

for i in range (1,1+n):
  for j in range (1,1+m):
    print(i,j)

2 3
1 1
1 2
1 3
2 1
2 2
2 3