<a href="https://colab.research.google.com/github/jessica8403/TIL/blob/master/practice_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
temp=pd.Series([-20,-10,10,20])

In [3]:
temp

0   -20
1   -10
2    10
3    20
dtype: int64

In [4]:
temp[0]

-20

In [5]:
temp=pd.Series([-20,-10,10,20],index=['Feb','Mar','Apr','Jan'])

In [6]:
temp

Feb   -20
Mar   -10
Apr    10
Jan    20
dtype: int64

In [7]:
temp['Apr']

10

In [8]:
data = {
    '이름' : ['채치수', '정대만', '송태섭', '서태웅', '강백호', '변덕규', '황태산', '윤대협'],
    '학교' : ['북산고', '북산고', '북산고', '북산고', '북산고', '능남고', '능남고', '능남고'],
    '키' : [197, 184, 168, 187, 188, 202, 188, 190],
    '국어' : [90, 40, 80, 40, 15, 80, 55, 100],
    '영어' : [85, 35, 75, 60, 20, 100, 65, 85],
    '수학' : [100, 50, 70, 70, 10, 95, 45, 90],
    '과학' : [95, 55, 80, 75, 35, 85, 40, 95],
    '사회' : [85, 25, 75, 80, 10, 80, 35, 95],
    'SW특기' : ['Python', 'Java', 'Javascript', '', '', 'C', 'PYTHON', 'C#']
}
data

{'SW특기': ['Python', 'Java', 'Javascript', '', '', 'C', 'PYTHON', 'C#'],
 '과학': [95, 55, 80, 75, 35, 85, 40, 95],
 '국어': [90, 40, 80, 40, 15, 80, 55, 100],
 '사회': [85, 25, 75, 80, 10, 80, 35, 95],
 '수학': [100, 50, 70, 70, 10, 95, 45, 90],
 '영어': [85, 35, 75, 60, 20, 100, 65, 85],
 '이름': ['채치수', '정대만', '송태섭', '서태웅', '강백호', '변덕규', '황태산', '윤대협'],
 '키': [197, 184, 168, 187, 188, 202, 188, 190],
 '학교': ['북산고', '북산고', '북산고', '북산고', '북산고', '능남고', '능남고', '능남고']}

In [9]:
type(data)

dict

In [10]:
data['이름']

['채치수', '정대만', '송태섭', '서태웅', '강백호', '변덕규', '황태산', '윤대협']

In [11]:
df=pd.DataFrame(data)

In [12]:
df

    이름   학교    키   국어   영어   수학  과학  사회        SW특기
0  채치수  북산고  197   90   85  100  95  85      Python
1  정대만  북산고  184   40   35   50  55  25        Java
2  송태섭  북산고  168   80   75   70  80  75  Javascript
3  서태웅  북산고  187   40   60   70  75  80
4  강백호  북산고  188   15   20   10  35  10
5  변덕규  능남고  202   80  100   95  85  80           C
6  황태산  능남고  188   55   65   45  40  35      PYTHON
7  윤대협  능남고  190  100   85   90  95  95          C#

In [13]:
df['이름']

0    채치수
1    정대만
2    송태섭
3    서태웅
4    강백호
5    변덕규
6    황태산
7    윤대협
Name: 이름, dtype: object

In [14]:
df[['이름','키']]

    이름    키
0  채치수  197
1  정대만  184
2  송태섭  168
3  서태웅  187
4  강백호  188
5  변덕규  202
6  황태산  188
7  윤대협  190

In [15]:
df=pd.DataFrame(data,index=['1번','2번','3번','4번','5번','6번','7번','8번' ])

In [16]:
df

     이름   학교    키   국어   영어   수학  과학  사회        SW특기
1번  채치수  북산고  197   90   85  100  95  85      Python
2번  정대만  북산고  184   40   35   50  55  25        Java
3번  송태섭  북산고  168   80   75   70  80  75  Javascript
4번  서태웅  북산고  187   40   60   70  75  80
5번  강백호  북산고  188   15   20   10  35  10
6번  변덕규  능남고  202   80  100   95  85  80           C
7번  황태산  능남고  188   55   65   45  40  35      PYTHON
8번  윤대협  능남고  190  100   85   90  95  95          C#

In [17]:
df=pd.DataFrame(data, columns=['이름','학교','키'])

In [18]:
df

    이름   학교    키
0  채치수  북산고  197
1  정대만  북산고  184
2  송태섭  북산고  168
3  서태웅  북산고  187
4  강백호  북산고  188
5  변덕규  능남고  202
6  황태산  능남고  188
7  윤대협  능남고  190

In [19]:
data = {
    '이름' : ['채치수', '정대만', '송태섭', '서태웅', '강백호', '변덕규', '황태산', '윤대협'],
    '학교' : ['북산고', '북산고', '북산고', '북산고', '북산고', '능남고', '능남고', '능남고'],
    '키' : [197, 184, 168, 187, 188, 202, 188, 190],
    '국어' : [90, 40, 80, 40, 15, 80, 55, 100],
    '영어' : [85, 35, 75, 60, 20, 100, 65, 85],
    '수학' : [100, 50, 70, 70, 10, 95, 45, 90],
    '과학' : [95, 55, 80, 75, 35, 85, 40, 95],
    '사회' : [85, 25, 75, 80, 10, 80, 35, 95],
    'SW특기' : ['Python', 'Java', 'Javascript', '', '', 'C', 'PYTHON', 'C#']
}
data

{'SW특기': ['Python', 'Java', 'Javascript', '', '', 'C', 'PYTHON', 'C#'],
 '과학': [95, 55, 80, 75, 35, 85, 40, 95],
 '국어': [90, 40, 80, 40, 15, 80, 55, 100],
 '사회': [85, 25, 75, 80, 10, 80, 35, 95],
 '수학': [100, 50, 70, 70, 10, 95, 45, 90],
 '영어': [85, 35, 75, 60, 20, 100, 65, 85],
 '이름': ['채치수', '정대만', '송태섭', '서태웅', '강백호', '변덕규', '황태산', '윤대협'],
 '키': [197, 184, 168, 187, 188, 202, 188, 190],
 '학교': ['북산고', '북산고', '북산고', '북산고', '북산고', '능남고', '능남고', '능남고']}

In [20]:
df=pd.DataFrame(data,index=['1번','2번','3번','4번','5번','6번','7번','8번' ])

In [21]:
df.index

Index(['1번', '2번', '3번', '4번', '5번', '6번', '7번', '8번'], dtype='object')

In [22]:
df.index.name='지원번호'
df

       이름   학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  북산고  197   90   85  100  95  85      Python
2번    정대만  북산고  184   40   35   50  55  25        Java
3번    송태섭  북산고  168   80   75   70  80  75  Javascript
4번    서태웅  북산고  187   40   60   70  75  80
5번    강백호  북산고  188   15   20   10  35  10
6번    변덕규  능남고  202   80  100   95  85  80           C
7번    황태산  능남고  188   55   65   45  40  35      PYTHON
8번    윤대협  능남고  190  100   85   90  95  95          C#

In [23]:
df.reset_index()

  지원번호   이름   학교    키   국어   영어   수학  과학  사회        SW특기
0   1번  채치수  북산고  197   90   85  100  95  85      Python
1   2번  정대만  북산고  184   40   35   50  55  25        Java
2   3번  송태섭  북산고  168   80   75   70  80  75  Javascript
3   4번  서태웅  북산고  187   40   60   70  75  80
4   5번  강백호  북산고  188   15   20   10  35  10
5   6번  변덕규  능남고  202   80  100   95  85  80           C
6   7번  황태산  능남고  188   55   65   45  40  35      PYTHON
7   8번  윤대협  능남고  190  100   85   90  95  95          C#

In [24]:
df.reset_index(drop=True)

    이름   학교    키   국어   영어   수학  과학  사회        SW특기
0  채치수  북산고  197   90   85  100  95  85      Python
1  정대만  북산고  184   40   35   50  55  25        Java
2  송태섭  북산고  168   80   75   70  80  75  Javascript
3  서태웅  북산고  187   40   60   70  75  80
4  강백호  북산고  188   15   20   10  35  10
5  변덕규  능남고  202   80  100   95  85  80           C
6  황태산  능남고  188   55   65   45  40  35      PYTHON
7  윤대협  능남고  190  100   85   90  95  95          C#

In [25]:
df

       이름   학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  북산고  197   90   85  100  95  85      Python
2번    정대만  북산고  184   40   35   50  55  25        Java
3번    송태섭  북산고  168   80   75   70  80  75  Javascript
4번    서태웅  북산고  187   40   60   70  75  80
5번    강백호  북산고  188   15   20   10  35  10
6번    변덕규  능남고  202   80  100   95  85  80           C
7번    황태산  능남고  188   55   65   45  40  35      PYTHON
8번    윤대협  능남고  190  100   85   90  95  95          C#

In [26]:
df.reset_index(drop=True, inplace=True)#실제데이터에 반영

In [27]:
df

    이름   학교    키   국어   영어   수학  과학  사회        SW특기
0  채치수  북산고  197   90   85  100  95  85      Python
1  정대만  북산고  184   40   35   50  55  25        Java
2  송태섭  북산고  168   80   75   70  80  75  Javascript
3  서태웅  북산고  187   40   60   70  75  80
4  강백호  북산고  188   15   20   10  35  10
5  변덕규  능남고  202   80  100   95  85  80           C
6  황태산  능남고  188   55   65   45  40  35      PYTHON
7  윤대협  능남고  190  100   85   90  95  95          C#

In [28]:
df.set_index('이름')

      학교    키   국어   영어   수학  과학  사회        SW특기
이름
채치수  북산고  197   90   85  100  95  85      Python
정대만  북산고  184   40   35   50  55  25        Java
송태섭  북산고  168   80   75   70  80  75  Javascript
서태웅  북산고  187   40   60   70  75  80
강백호  북산고  188   15   20   10  35  10
변덕규  능남고  202   80  100   95  85  80           C
황태산  능남고  188   55   65   45  40  35      PYTHON
윤대협  능남고  190  100   85   90  95  95          C#

In [29]:
df

    이름   학교    키   국어   영어   수학  과학  사회        SW특기
0  채치수  북산고  197   90   85  100  95  85      Python
1  정대만  북산고  184   40   35   50  55  25        Java
2  송태섭  북산고  168   80   75   70  80  75  Javascript
3  서태웅  북산고  187   40   60   70  75  80
4  강백호  북산고  188   15   20   10  35  10
5  변덕규  능남고  202   80  100   95  85  80           C
6  황태산  능남고  188   55   65   45  40  35      PYTHON
7  윤대협  능남고  190  100   85   90  95  95          C#

In [30]:
df.set_index('이름', inplace=True)

In [31]:
df

      학교    키   국어   영어   수학  과학  사회        SW특기
이름
채치수  북산고  197   90   85  100  95  85      Python
정대만  북산고  184   40   35   50  55  25        Java
송태섭  북산고  168   80   75   70  80  75  Javascript
서태웅  북산고  187   40   60   70  75  80
강백호  북산고  188   15   20   10  35  10
변덕규  능남고  202   80  100   95  85  80           C
황태산  능남고  188   55   65   45  40  35      PYTHON
윤대협  능남고  190  100   85   90  95  95          C#

In [32]:
df.sort_index()

      학교    키   국어   영어   수학  과학  사회        SW특기
이름
강백호  북산고  188   15   20   10  35  10
변덕규  능남고  202   80  100   95  85  80           C
서태웅  북산고  187   40   60   70  75  80
송태섭  북산고  168   80   75   70  80  75  Javascript
윤대협  능남고  190  100   85   90  95  95          C#
정대만  북산고  184   40   35   50  55  25        Java
채치수  북산고  197   90   85  100  95  85      Python
황태산  능남고  188   55   65   45  40  35      PYTHON

In [33]:
df.sort_index(ascending=False)

      학교    키   국어   영어   수학  과학  사회        SW특기
이름
황태산  능남고  188   55   65   45  40  35      PYTHON
채치수  북산고  197   90   85  100  95  85      Python
정대만  북산고  184   40   35   50  55  25        Java
윤대협  능남고  190  100   85   90  95  95          C#
송태섭  북산고  168   80   75   70  80  75  Javascript
서태웅  북산고  187   40   60   70  75  80
변덕규  능남고  202   80  100   95  85  80           C
강백호  북산고  188   15   20   10  35  10

In [34]:
data = {
    '이름' : ['채치수', '정대만', '송태섭', '서태웅', '강백호', '변덕규', '황태산', '윤대협'],
    '학교' : ['북산고', '북산고', '북산고', '북산고', '북산고', '능남고', '능남고', '능남고'],
    '키' : [197, 184, 168, 187, 188, 202, 188, 190],
    '국어' : [90, 40, 80, 40, 15, 80, 55, 100],
    '영어' : [85, 35, 75, 60, 20, 100, 65, 85],
    '수학' : [100, 50, 70, 70, 10, 95, 45, 90],
    '과학' : [95, 55, 80, 75, 35, 85, 40, 95],
    '사회' : [85, 25, 75, 80, 10, 80, 35, 95],
    'SW특기' : ['Python', 'Java', 'Javascript', '', '', 'C', 'PYTHON', 'C#']
}
df=pd.DataFrame(data,index=['1번','2번','3번','4번','5번','6번','7번','8번' ])
df.index.name='지원번호'
df

       이름   학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  북산고  197   90   85  100  95  85      Python
2번    정대만  북산고  184   40   35   50  55  25        Java
3번    송태섭  북산고  168   80   75   70  80  75  Javascript
4번    서태웅  북산고  187   40   60   70  75  80
5번    강백호  북산고  188   15   20   10  35  10
6번    변덕규  능남고  202   80  100   95  85  80           C
7번    황태산  능남고  188   55   65   45  40  35      PYTHON
8번    윤대협  능남고  190  100   85   90  95  95          C#

In [35]:
df.to_csv('score.csv', encoding='utf-8-sig')

In [36]:
df.to_csv('score.csv', encoding='utf-8-sig',index=False)

In [37]:
df.to_csv('score.txt', sep='\t')

In [38]:
df.to_excel('score.xlsx')

In [39]:
df=pd.read_csv('score.csv')
df

    이름   학교    키   국어   영어   수학  과학  사회        SW특기
0  채치수  북산고  197   90   85  100  95  85      Python
1  정대만  북산고  184   40   35   50  55  25        Java
2  송태섭  북산고  168   80   75   70  80  75  Javascript
3  서태웅  북산고  187   40   60   70  75  80         NaN
4  강백호  북산고  188   15   20   10  35  10         NaN
5  변덕규  능남고  202   80  100   95  85  80           C
6  황태산  능남고  188   55   65   45  40  35      PYTHON
7  윤대협  능남고  190  100   85   90  95  95          C#

In [40]:
df=pd.read_csv('score.csv', skiprows=1)

In [41]:
df

   채치수  북산고  197   90   85  100  95  85.1      Python
0  정대만  북산고  184   40   35   50  55    25        Java
1  송태섭  북산고  168   80   75   70  80    75  Javascript
2  서태웅  북산고  187   40   60   70  75    80         NaN
3  강백호  북산고  188   15   20   10  35    10         NaN
4  변덕규  능남고  202   80  100   95  85    80           C
5  황태산  능남고  188   55   65   45  40    35      PYTHON
6  윤대협  능남고  190  100   85   90  95    95          C#

In [42]:
df=pd.read_csv('score.csv', skiprows=[1,3,5])
df

    이름   학교    키   국어   영어  수학  과학  사회    SW특기
0  정대만  북산고  184   40   35  50  55  25    Java
1  서태웅  북산고  187   40   60  70  75  80     NaN
2  변덕규  능남고  202   80  100  95  85  80       C
3  황태산  능남고  188   55   65  45  40  35  PYTHON
4  윤대협  능남고  190  100   85  90  95  95      C#

In [43]:
df=pd.read_csv('score.csv', nrows=4)
df

    이름   학교    키  국어  영어   수학  과학  사회        SW특기
0  채치수  북산고  197  90  85  100  95  85      Python
1  정대만  북산고  184  40  35   50  55  25        Java
2  송태섭  북산고  168  80  75   70  80  75  Javascript
3  서태웅  북산고  187  40  60   70  75  80         NaN

In [44]:
df=pd.read_csv('score.csv',skiprows=2, nrows=4)

In [45]:
df

   정대만  북산고  184  40   35  50  55  25        Java
0  송태섭  북산고  168  80   75  70  80  75  Javascript
1  서태웅  북산고  187  40   60  70  75  80         NaN
2  강백호  북산고  188  15   20  10  35  10         NaN
3  변덕규  능남고  202  80  100  95  85  80           C

In [46]:
# df=pd.read_csv('score.txt', sep='\t')
# pd.set_index('지원번호', inplace=True)

In [47]:
df=pd.read_csv('score.csv')
df

    이름   학교    키   국어   영어   수학  과학  사회        SW특기
0  채치수  북산고  197   90   85  100  95  85      Python
1  정대만  북산고  184   40   35   50  55  25        Java
2  송태섭  북산고  168   80   75   70  80  75  Javascript
3  서태웅  북산고  187   40   60   70  75  80         NaN
4  강백호  북산고  188   15   20   10  35  10         NaN
5  변덕규  능남고  202   80  100   95  85  80           C
6  황태산  능남고  188   55   65   45  40  35      PYTHON
7  윤대협  능남고  190  100   85   90  95  95          C#

In [48]:
df.describe()

                키          국어          영어          수학         과학         사회
count    8.000000    8.000000    8.000000    8.000000   8.000000   8.000000
mean   188.000000   62.500000   65.625000   66.250000  70.000000  60.625000
std      9.985704   29.519969   26.917533   30.325614  23.754699  32.120032
min    168.000000   15.000000   20.000000   10.000000  35.000000  10.000000
25%    186.250000   40.000000   53.750000   48.750000  51.250000  32.500000
50%    188.000000   67.500000   70.000000   70.000000  77.500000  77.500000
75%    191.750000   82.500000   85.000000   91.250000  87.500000  81.250000
max    202.000000  100.000000  100.000000  100.000000  95.000000  95.000000

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   이름      8 non-null      object
 1   학교      8 non-null      object
 2   키       8 non-null      int64
 3   국어      8 non-null      int64
 4   영어      8 non-null      int64
 5   수학      8 non-null      int64
 6   과학      8 non-null      int64
 7   사회      8 non-null      int64
 8   SW특기    6 non-null      object
dtypes: int64(6), object(3)
memory usage: 704.0+ bytes

In [50]:
df.head()

    이름   학교    키  국어  영어   수학  과학  사회        SW특기
0  채치수  북산고  197  90  85  100  95  85      Python
1  정대만  북산고  184  40  35   50  55  25        Java
2  송태섭  북산고  168  80  75   70  80  75  Javascript
3  서태웅  북산고  187  40  60   70  75  80         NaN
4  강백호  북산고  188  15  20   10  35  10         NaN

In [51]:
df.head(7)

    이름   학교    키  국어   영어   수학  과학  사회        SW특기
0  채치수  북산고  197  90   85  100  95  85      Python
1  정대만  북산고  184  40   35   50  55  25        Java
2  송태섭  북산고  168  80   75   70  80  75  Javascript
3  서태웅  북산고  187  40   60   70  75  80         NaN
4  강백호  북산고  188  15   20   10  35  10         NaN
5  변덕규  능남고  202  80  100   95  85  80           C
6  황태산  능남고  188  55   65   45  40  35      PYTHON

In [52]:
df.tail() #마지막 5개

    이름   학교    키   국어   영어  수학  과학  사회    SW특기
3  서태웅  북산고  187   40   60  70  75  80     NaN
4  강백호  북산고  188   15   20  10  35  10     NaN
5  변덕규  능남고  202   80  100  95  85  80       C
6  황태산  능남고  188   55   65  45  40  35  PYTHON
7  윤대협  능남고  190  100   85  90  95  95      C#

In [53]:
df.values

array([['채치수', '북산고', 197, 90, 85, 100, 95, 85, 'Python'],
       ['정대만', '북산고', 184, 40, 35, 50, 55, 25, 'Java'],
       ['송태섭', '북산고', 168, 80, 75, 70, 80, 75, 'Javascript'],
       ['서태웅', '북산고', 187, 40, 60, 70, 75, 80, nan],
       ['강백호', '북산고', 188, 15, 20, 10, 35, 10, nan],
       ['변덕규', '능남고', 202, 80, 100, 95, 85, 80, 'C'],
       ['황태산', '능남고', 188, 55, 65, 45, 40, 35, 'PYTHON'],
       ['윤대협', '능남고', 190, 100, 85, 90, 95, 95, 'C#']], dtype=object)

In [54]:
df.index

RangeIndex(start=0, stop=8, step=1)

In [55]:
df.columns

Index(['이름', '학교', '키', '국어', '영어', '수학', '과학', '사회', 'SW특기'], dtype='object')

In [56]:
df.shape

(8, 9)

In [57]:
df['키'].describe()

count      8.000000
mean     188.000000
std        9.985704
min      168.000000
25%      186.250000
50%      188.000000
75%      191.750000
max      202.000000
Name: 키, dtype: float64

In [58]:
df['키'].min()

168

In [59]:
df['키'].max()

202

In [60]:
df['키'].nlargest(3)

5    202
0    197
7    190
Name: 키, dtype: int64

In [61]:
df['키'].mean()

188.0

In [62]:
df['키'].sum()

1504

In [63]:
df['SW특기'].count()

6

In [64]:
df['학교'].unique()

array(['북산고', '능남고'], dtype=object)

In [65]:
df['학교'].nunique()

2

In [66]:
df['이름']

0    채치수
1    정대만
2    송태섭
3    서태웅
4    강백호
5    변덕규
6    황태산
7    윤대협
Name: 이름, dtype: object

In [67]:
df['키']

0    197
1    184
2    168
3    187
4    188
5    202
6    188
7    190
Name: 키, dtype: int64

In [68]:
df[['이름','키']]

    이름    키
0  채치수  197
1  정대만  184
2  송태섭  168
3  서태웅  187
4  강백호  188
5  변덕규  202
6  황태산  188
7  윤대협  190

In [69]:
df.columns

Index(['이름', '학교', '키', '국어', '영어', '수학', '과학', '사회', 'SW특기'], dtype='object')

In [70]:
df.columns[0]

'이름'

In [71]:
df[df.columns[0]]

0    채치수
1    정대만
2    송태섭
3    서태웅
4    강백호
5    변덕규
6    황태산
7    윤대협
Name: 이름, dtype: object

In [72]:
df

    이름   학교    키   국어   영어   수학  과학  사회        SW특기
0  채치수  북산고  197   90   85  100  95  85      Python
1  정대만  북산고  184   40   35   50  55  25        Java
2  송태섭  북산고  168   80   75   70  80  75  Javascript
3  서태웅  북산고  187   40   60   70  75  80         NaN
4  강백호  북산고  188   15   20   10  35  10         NaN
5  변덕규  능남고  202   80  100   95  85  80           C
6  황태산  능남고  188   55   65   45  40  35      PYTHON
7  윤대협  능남고  190  100   85   90  95  95          C#

In [73]:
df['영어'][0:5]

0    85
1    35
2    75
3    60
4    20
Name: 영어, dtype: int64

In [74]:
df[['이름','키']][:3]

    이름    키
0  채치수  197
1  정대만  184
2  송태섭  168

In [75]:
df[3:]

    이름   학교    키   국어   영어  수학  과학  사회    SW특기
3  서태웅  북산고  187   40   60  70  75  80     NaN
4  강백호  북산고  188   15   20  10  35  10     NaN
5  변덕규  능남고  202   80  100  95  85  80       C
6  황태산  능남고  188   55   65  45  40  35  PYTHON
7  윤대협  능남고  190  100   85  90  95  95      C#

In [76]:
df.loc[1]

이름       정대만
학교       북산고
키        184
국어        40
영어        35
수학        50
과학        55
사회        25
SW특기    Java
Name: 1, dtype: object

In [77]:
df.loc[1,'국어']

40

In [78]:
df.loc[[1,2],'영어']

1    35
2    75
Name: 영어, dtype: int64

In [79]:
df.loc[[1,2],['영어','수학']]

   영어  수학
1  35  50
2  75  70

In [80]:
df.loc[1:5,'국어':'사회']

   국어   영어  수학  과학  사회
1  40   35  50  55  25
2  80   75  70  80  75
3  40   60  70  75  80
4  15   20  10  35  10
5  80  100  95  85  80

In [81]:
df.loc[1:5]

    이름   학교    키  국어   영어  수학  과학  사회        SW특기
1  정대만  북산고  184  40   35  50  55  25        Java
2  송태섭  북산고  168  80   75  70  80  75  Javascript
3  서태웅  북산고  187  40   60  70  75  80         NaN
4  강백호  북산고  188  15   20  10  35  10         NaN
5  변덕규  능남고  202  80  100  95  85  80           C

In [82]:
df.iloc[0]

이름         채치수
학교         북산고
키          197
국어          90
영어          85
수학         100
과학          95
사회          85
SW특기    Python
Name: 0, dtype: object

In [83]:
df.iloc[0:5]

    이름   학교    키  국어  영어   수학  과학  사회        SW특기
0  채치수  북산고  197  90  85  100  95  85      Python
1  정대만  북산고  184  40  35   50  55  25        Java
2  송태섭  북산고  168  80  75   70  80  75  Javascript
3  서태웅  북산고  187  40  60   70  75  80         NaN
4  강백호  북산고  188  15  20   10  35  10         NaN

In [84]:
df.iloc[0,1]

'북산고'

In [85]:
df.iloc[4,2]

188

In [86]:
df.iloc[[0,1],2]

0    197
1    184
Name: 키, dtype: int64

In [87]:
df.iloc[[0,1],[3,4]]

   국어  영어
0  90  85
1  40  35

In [88]:
df.iloc[0:5,3:8]

   국어  영어   수학  과학  사회
0  90  85  100  95  85
1  40  35   50  55  25
2  80  75   70  80  75
3  40  60   70  75  80
4  15  20   10  35  10

In [89]:
df['키']>=185

0     True
1    False
2    False
3     True
4     True
5     True
6     True
7     True
Name: 키, dtype: bool

In [90]:
filt=(df['키']>=185)
df[filt]

    이름   학교    키   국어   영어   수학  과학  사회    SW특기
0  채치수  북산고  197   90   85  100  95  85  Python
3  서태웅  북산고  187   40   60   70  75  80     NaN
4  강백호  북산고  188   15   20   10  35  10     NaN
5  변덕규  능남고  202   80  100   95  85  80       C
6  황태산  능남고  188   55   65   45  40  35  PYTHON
7  윤대협  능남고  190  100   85   90  95  95      C#

In [91]:
df[~filt] #fillter를 역으로 이용

    이름   학교    키  국어  영어  수학  과학  사회        SW특기
1  정대만  북산고  184  40  35  50  55  25        Java
2  송태섭  북산고  168  80  75  70  80  75  Javascript

In [92]:
df[df['키']>=185]

    이름   학교    키   국어   영어   수학  과학  사회    SW특기
0  채치수  북산고  197   90   85  100  95  85  Python
3  서태웅  북산고  187   40   60   70  75  80     NaN
4  강백호  북산고  188   15   20   10  35  10     NaN
5  변덕규  능남고  202   80  100   95  85  80       C
6  황태산  능남고  188   55   65   45  40  35  PYTHON
7  윤대협  능남고  190  100   85   90  95  95      C#

In [93]:
df.loc[df['키']>=185, '수학']

0    100
3     70
4     10
5     95
6     45
7     90
Name: 수학, dtype: int64

In [94]:
df.loc[df['키']>=185,['이름','수학','과학']]

    이름   수학  과학
0  채치수  100  95
3  서태웅   70  75
4  강백호   10  35
5  변덕규   95  85
6  황태산   45  40
7  윤대협   90  95

In [95]:
df.loc[(df['키']>=185) & (df['학교']=='북산고')]

    이름   학교    키  국어  영어   수학  과학  사회    SW특기
0  채치수  북산고  197  90  85  100  95  85  Python
3  서태웅  북산고  187  40  60   70  75  80     NaN
4  강백호  북산고  188  15  20   10  35  10     NaN

In [96]:
df.loc[(df['키'] < 170) | (df['키'] > 200)]

    이름   학교    키  국어   영어  수학  과학  사회        SW특기
2  송태섭  북산고  168  80   75  70  80  75  Javascript
5  변덕규  능남고  202  80  100  95  85  80           C

In [97]:
filt=df['이름'].str.startswith('송')
df[filt]

    이름   학교    키  국어  영어  수학  과학  사회        SW특기
2  송태섭  북산고  168  80  75  70  80  75  Javascript

In [98]:
filt=df['이름'].str.contains('태')
df[filt]

    이름   학교    키  국어  영어  수학  과학  사회        SW특기
2  송태섭  북산고  168  80  75  70  80  75  Javascript
3  서태웅  북산고  187  40  60  70  75  80         NaN
6  황태산  능남고  188  55  65  45  40  35      PYTHON

In [99]:
df[~filt]

    이름   학교    키   국어   영어   수학  과학  사회    SW특기
0  채치수  북산고  197   90   85  100  95  85  Python
1  정대만  북산고  184   40   35   50  55  25    Java
4  강백호  북산고  188   15   20   10  35  10     NaN
5  변덕규  능남고  202   80  100   95  85  80       C
7  윤대협  능남고  190  100   85   90  95  95      C#

In [100]:
langs=['Python', 'Java']

In [101]:
filt=df['SW특기'].isin(langs)
df[filt]

    이름   학교    키  국어  영어   수학  과학  사회    SW특기
0  채치수  북산고  197  90  85  100  95  85  Python
1  정대만  북산고  184  40  35   50  55  25    Java

In [102]:
df

    이름   학교    키   국어   영어   수학  과학  사회        SW특기
0  채치수  북산고  197   90   85  100  95  85      Python
1  정대만  북산고  184   40   35   50  55  25        Java
2  송태섭  북산고  168   80   75   70  80  75  Javascript
3  서태웅  북산고  187   40   60   70  75  80         NaN
4  강백호  북산고  188   15   20   10  35  10         NaN
5  변덕규  능남고  202   80  100   95  85  80           C
6  황태산  능남고  188   55   65   45  40  35      PYTHON
7  윤대협  능남고  190  100   85   90  95  95          C#

In [103]:
langs= ['python','java']
filt=df['SW특기'].str.lower().isin(langs)
df[filt]

    이름   학교    키  국어  영어   수학  과학  사회    SW특기
0  채치수  북산고  197  90  85  100  95  85  Python
1  정대만  북산고  184  40  35   50  55  25    Java
6  황태산  능남고  188  55  65   45  40  35  PYTHON

In [104]:
df['SW특기'].str.contains('Java', na=True) #nan 데이터를 트루로 인식

0    False
1     True
2     True
3     True
4     True
5    False
6    False
7    False
Name: SW특기, dtype: bool

In [105]:
df['SW특기'].str.contains('Java', na=False)

0    False
1     True
2     True
3    False
4    False
5    False
6    False
7    False
Name: SW특기, dtype: bool

In [106]:
filt=df['SW특기'].str.contains('Java', na=False)

In [107]:
df

    이름   학교    키   국어   영어   수학  과학  사회        SW특기
0  채치수  북산고  197   90   85  100  95  85      Python
1  정대만  북산고  184   40   35   50  55  25        Java
2  송태섭  북산고  168   80   75   70  80  75  Javascript
3  서태웅  북산고  187   40   60   70  75  80         NaN
4  강백호  북산고  188   15   20   10  35  10         NaN
5  변덕규  능남고  202   80  100   95  85  80           C
6  황태산  능남고  188   55   65   45  40  35      PYTHON
7  윤대협  능남고  190  100   85   90  95  95          C#

In [108]:
df.fillna('')

    이름   학교    키   국어   영어   수학  과학  사회        SW특기
0  채치수  북산고  197   90   85  100  95  85      Python
1  정대만  북산고  184   40   35   50  55  25        Java
2  송태섭  북산고  168   80   75   70  80  75  Javascript
3  서태웅  북산고  187   40   60   70  75  80
4  강백호  북산고  188   15   20   10  35  10
5  변덕규  능남고  202   80  100   95  85  80           C
6  황태산  능남고  188   55   65   45  40  35      PYTHON
7  윤대협  능남고  190  100   85   90  95  95          C#

In [109]:
df.fillna('없음')

    이름   학교    키   국어   영어   수학  과학  사회        SW특기
0  채치수  북산고  197   90   85  100  95  85      Python
1  정대만  북산고  184   40   35   50  55  25        Java
2  송태섭  북산고  168   80   75   70  80  75  Javascript
3  서태웅  북산고  187   40   60   70  75  80          없음
4  강백호  북산고  188   15   20   10  35  10          없음
5  변덕규  능남고  202   80  100   95  85  80           C
6  황태산  능남고  188   55   65   45  40  35      PYTHON
7  윤대협  능남고  190  100   85   90  95  95          C#

In [110]:
import numpy as np
df['학교']=np.nan
df

    이름  학교    키   국어   영어   수학  과학  사회        SW특기
0  채치수 NaN  197   90   85  100  95  85      Python
1  정대만 NaN  184   40   35   50  55  25        Java
2  송태섭 NaN  168   80   75   70  80  75  Javascript
3  서태웅 NaN  187   40   60   70  75  80         NaN
4  강백호 NaN  188   15   20   10  35  10         NaN
5  변덕규 NaN  202   80  100   95  85  80           C
6  황태산 NaN  188   55   65   45  40  35      PYTHON
7  윤대협 NaN  190  100   85   90  95  95          C#

In [111]:
df.fillna('모름')

    이름  학교    키   국어   영어   수학  과학  사회        SW특기
0  채치수  모름  197   90   85  100  95  85      Python
1  정대만  모름  184   40   35   50  55  25        Java
2  송태섭  모름  168   80   75   70  80  75  Javascript
3  서태웅  모름  187   40   60   70  75  80          모름
4  강백호  모름  188   15   20   10  35  10          모름
5  변덕규  모름  202   80  100   95  85  80           C
6  황태산  모름  188   55   65   45  40  35      PYTHON
7  윤대협  모름  190  100   85   90  95  95          C#

In [112]:
df.fillna('모름', inplace=True)

In [113]:
df

    이름  학교    키   국어   영어   수학  과학  사회        SW특기
0  채치수  모름  197   90   85  100  95  85      Python
1  정대만  모름  184   40   35   50  55  25        Java
2  송태섭  모름  168   80   75   70  80  75  Javascript
3  서태웅  모름  187   40   60   70  75  80          모름
4  강백호  모름  188   15   20   10  35  10          모름
5  변덕규  모름  202   80  100   95  85  80           C
6  황태산  모름  188   55   65   45  40  35      PYTHON
7  윤대협  모름  190  100   85   90  95  95          C#

In [114]:
df=pd.read_csv('score.csv')
df

    이름   학교    키   국어   영어   수학  과학  사회        SW특기
0  채치수  북산고  197   90   85  100  95  85      Python
1  정대만  북산고  184   40   35   50  55  25        Java
2  송태섭  북산고  168   80   75   70  80  75  Javascript
3  서태웅  북산고  187   40   60   70  75  80         NaN
4  강백호  북산고  188   15   20   10  35  10         NaN
5  변덕규  능남고  202   80  100   95  85  80           C
6  황태산  능남고  188   55   65   45  40  35      PYTHON
7  윤대협  능남고  190  100   85   90  95  95          C#

In [115]:
df['SW특기'].fillna('확인 중', inplace=True)
df

    이름   학교    키   국어   영어   수학  과학  사회        SW특기
0  채치수  북산고  197   90   85  100  95  85      Python
1  정대만  북산고  184   40   35   50  55  25        Java
2  송태섭  북산고  168   80   75   70  80  75  Javascript
3  서태웅  북산고  187   40   60   70  75  80        확인 중
4  강백호  북산고  188   15   20   10  35  10        확인 중
5  변덕규  능남고  202   80  100   95  85  80           C
6  황태산  능남고  188   55   65   45  40  35      PYTHON
7  윤대협  능남고  190  100   85   90  95  95          C#

In [116]:
df=pd.read_csv('score.csv')
df

    이름   학교    키   국어   영어   수학  과학  사회        SW특기
0  채치수  북산고  197   90   85  100  95  85      Python
1  정대만  북산고  184   40   35   50  55  25        Java
2  송태섭  북산고  168   80   75   70  80  75  Javascript
3  서태웅  북산고  187   40   60   70  75  80         NaN
4  강백호  북산고  188   15   20   10  35  10         NaN
5  변덕규  능남고  202   80  100   95  85  80           C
6  황태산  능남고  188   55   65   45  40  35      PYTHON
7  윤대협  능남고  190  100   85   90  95  95          C#

In [117]:
df.dropna()

    이름   학교    키   국어   영어   수학  과학  사회        SW특기
0  채치수  북산고  197   90   85  100  95  85      Python
1  정대만  북산고  184   40   35   50  55  25        Java
2  송태섭  북산고  168   80   75   70  80  75  Javascript
5  변덕규  능남고  202   80  100   95  85  80           C
6  황태산  능남고  188   55   65   45  40  35      PYTHON
7  윤대협  능남고  190  100   85   90  95  95          C#

In [118]:
df

    이름   학교    키   국어   영어   수학  과학  사회        SW특기
0  채치수  북산고  197   90   85  100  95  85      Python
1  정대만  북산고  184   40   35   50  55  25        Java
2  송태섭  북산고  168   80   75   70  80  75  Javascript
3  서태웅  북산고  187   40   60   70  75  80         NaN
4  강백호  북산고  188   15   20   10  35  10         NaN
5  변덕규  능남고  202   80  100   95  85  80           C
6  황태산  능남고  188   55   65   45  40  35      PYTHON
7  윤대협  능남고  190  100   85   90  95  95          C#

In [119]:
df.dropna(axis='index', how='any') #axis: index or columns how: any or all

    이름   학교    키   국어   영어   수학  과학  사회        SW특기
0  채치수  북산고  197   90   85  100  95  85      Python
1  정대만  북산고  184   40   35   50  55  25        Java
2  송태섭  북산고  168   80   75   70  80  75  Javascript
5  변덕규  능남고  202   80  100   95  85  80           C
6  황태산  능남고  188   55   65   45  40  35      PYTHON
7  윤대협  능남고  190  100   85   90  95  95          C#

In [120]:
df.dropna(axis='columns')

    이름   학교    키   국어   영어   수학  과학  사회
0  채치수  북산고  197   90   85  100  95  85
1  정대만  북산고  184   40   35   50  55  25
2  송태섭  북산고  168   80   75   70  80  75
3  서태웅  북산고  187   40   60   70  75  80
4  강백호  북산고  188   15   20   10  35  10
5  변덕규  능남고  202   80  100   95  85  80
6  황태산  능남고  188   55   65   45  40  35
7  윤대협  능남고  190  100   85   90  95  95

In [121]:
df['학교']=np.nan
df

    이름  학교    키   국어   영어   수학  과학  사회        SW특기
0  채치수 NaN  197   90   85  100  95  85      Python
1  정대만 NaN  184   40   35   50  55  25        Java
2  송태섭 NaN  168   80   75   70  80  75  Javascript
3  서태웅 NaN  187   40   60   70  75  80         NaN
4  강백호 NaN  188   15   20   10  35  10         NaN
5  변덕규 NaN  202   80  100   95  85  80           C
6  황태산 NaN  188   55   65   45  40  35      PYTHON
7  윤대협 NaN  190  100   85   90  95  95          C#

In [122]:
df.dropna(axis='columns', how='all')

    이름    키   국어   영어   수학  과학  사회        SW특기
0  채치수  197   90   85  100  95  85      Python
1  정대만  184   40   35   50  55  25        Java
2  송태섭  168   80   75   70  80  75  Javascript
3  서태웅  187   40   60   70  75  80         NaN
4  강백호  188   15   20   10  35  10         NaN
5  변덕규  202   80  100   95  85  80           C
6  황태산  188   55   65   45  40  35      PYTHON
7  윤대협  190  100   85   90  95  95          C#

In [123]:
df

    이름  학교    키   국어   영어   수학  과학  사회        SW특기
0  채치수 NaN  197   90   85  100  95  85      Python
1  정대만 NaN  184   40   35   50  55  25        Java
2  송태섭 NaN  168   80   75   70  80  75  Javascript
3  서태웅 NaN  187   40   60   70  75  80         NaN
4  강백호 NaN  188   15   20   10  35  10         NaN
5  변덕규 NaN  202   80  100   95  85  80           C
6  황태산 NaN  188   55   65   45  40  35      PYTHON
7  윤대협 NaN  190  100   85   90  95  95          C#

In [124]:
df=pd.read_csv('score.csv')
df

    이름   학교    키   국어   영어   수학  과학  사회        SW특기
0  채치수  북산고  197   90   85  100  95  85      Python
1  정대만  북산고  184   40   35   50  55  25        Java
2  송태섭  북산고  168   80   75   70  80  75  Javascript
3  서태웅  북산고  187   40   60   70  75  80         NaN
4  강백호  북산고  188   15   20   10  35  10         NaN
5  변덕규  능남고  202   80  100   95  85  80           C
6  황태산  능남고  188   55   65   45  40  35      PYTHON
7  윤대협  능남고  190  100   85   90  95  95          C#

In [125]:
df.sort_values('키')

    이름   학교    키   국어   영어   수학  과학  사회        SW특기
2  송태섭  북산고  168   80   75   70  80  75  Javascript
1  정대만  북산고  184   40   35   50  55  25        Java
3  서태웅  북산고  187   40   60   70  75  80         NaN
4  강백호  북산고  188   15   20   10  35  10         NaN
6  황태산  능남고  188   55   65   45  40  35      PYTHON
7  윤대협  능남고  190  100   85   90  95  95          C#
0  채치수  북산고  197   90   85  100  95  85      Python
5  변덕규  능남고  202   80  100   95  85  80           C

In [126]:
df.sort_values('키', ascending=False)

    이름   학교    키   국어   영어   수학  과학  사회        SW특기
5  변덕규  능남고  202   80  100   95  85  80           C
0  채치수  북산고  197   90   85  100  95  85      Python
7  윤대협  능남고  190  100   85   90  95  95          C#
4  강백호  북산고  188   15   20   10  35  10         NaN
6  황태산  능남고  188   55   65   45  40  35      PYTHON
3  서태웅  북산고  187   40   60   70  75  80         NaN
1  정대만  북산고  184   40   35   50  55  25        Java
2  송태섭  북산고  168   80   75   70  80  75  Javascript

In [127]:
df.sort_values(['수학','영어'], ascending=False)

    이름   학교    키   국어   영어   수학  과학  사회        SW특기
0  채치수  북산고  197   90   85  100  95  85      Python
5  변덕규  능남고  202   80  100   95  85  80           C
7  윤대협  능남고  190  100   85   90  95  95          C#
2  송태섭  북산고  168   80   75   70  80  75  Javascript
3  서태웅  북산고  187   40   60   70  75  80         NaN
1  정대만  북산고  184   40   35   50  55  25        Java
6  황태산  능남고  188   55   65   45  40  35      PYTHON
4  강백호  북산고  188   15   20   10  35  10         NaN

In [128]:
df.sort_values(['수학','영어'], ascending=[True,False])

    이름   학교    키   국어   영어   수학  과학  사회        SW특기
4  강백호  북산고  188   15   20   10  35  10         NaN
6  황태산  능남고  188   55   65   45  40  35      PYTHON
1  정대만  북산고  184   40   35   50  55  25        Java
2  송태섭  북산고  168   80   75   70  80  75  Javascript
3  서태웅  북산고  187   40   60   70  75  80         NaN
7  윤대협  능남고  190  100   85   90  95  95          C#
5  변덕규  능남고  202   80  100   95  85  80           C
0  채치수  북산고  197   90   85  100  95  85      Python

In [129]:
df.sort_index()

    이름   학교    키   국어   영어   수학  과학  사회        SW특기
0  채치수  북산고  197   90   85  100  95  85      Python
1  정대만  북산고  184   40   35   50  55  25        Java
2  송태섭  북산고  168   80   75   70  80  75  Javascript
3  서태웅  북산고  187   40   60   70  75  80         NaN
4  강백호  북산고  188   15   20   10  35  10         NaN
5  변덕규  능남고  202   80  100   95  85  80           C
6  황태산  능남고  188   55   65   45  40  35      PYTHON
7  윤대협  능남고  190  100   85   90  95  95          C#

In [130]:
df.sort_index(ascending=False)

    이름   학교    키   국어   영어   수학  과학  사회        SW특기
7  윤대협  능남고  190  100   85   90  95  95          C#
6  황태산  능남고  188   55   65   45  40  35      PYTHON
5  변덕규  능남고  202   80  100   95  85  80           C
4  강백호  북산고  188   15   20   10  35  10         NaN
3  서태웅  북산고  187   40   60   70  75  80         NaN
2  송태섭  북산고  168   80   75   70  80  75  Javascript
1  정대만  북산고  184   40   35   50  55  25        Java
0  채치수  북산고  197   90   85  100  95  85      Python

In [131]:
df['학교'].replace({'북산고':'상북고'},inplace=True)

In [132]:
df

    이름   학교    키   국어   영어   수학  과학  사회        SW특기
0  채치수  상북고  197   90   85  100  95  85      Python
1  정대만  상북고  184   40   35   50  55  25        Java
2  송태섭  상북고  168   80   75   70  80  75  Javascript
3  서태웅  상북고  187   40   60   70  75  80         NaN
4  강백호  상북고  188   15   20   10  35  10         NaN
5  변덕규  능남고  202   80  100   95  85  80           C
6  황태산  능남고  188   55   65   45  40  35      PYTHON
7  윤대협  능남고  190  100   85   90  95  95          C#

In [133]:
df['SW특기'].str.lower()

0        python
1          java
2    javascript
3           NaN
4           NaN
5             c
6        python
7            c#
Name: SW특기, dtype: object

In [134]:
df['SW특기']=df['SW특기'].str.lower()

In [135]:
df

    이름   학교    키   국어   영어   수학  과학  사회        SW특기
0  채치수  상북고  197   90   85  100  95  85      python
1  정대만  상북고  184   40   35   50  55  25        java
2  송태섭  상북고  168   80   75   70  80  75  javascript
3  서태웅  상북고  187   40   60   70  75  80         NaN
4  강백호  상북고  188   15   20   10  35  10         NaN
5  변덕규  능남고  202   80  100   95  85  80           c
6  황태산  능남고  188   55   65   45  40  35      python
7  윤대협  능남고  190  100   85   90  95  95          c#

In [136]:
df['SW특기']=df['SW특기'].str.upper()

In [137]:
df

    이름   학교    키   국어   영어   수학  과학  사회        SW특기
0  채치수  상북고  197   90   85  100  95  85      PYTHON
1  정대만  상북고  184   40   35   50  55  25        JAVA
2  송태섭  상북고  168   80   75   70  80  75  JAVASCRIPT
3  서태웅  상북고  187   40   60   70  75  80         NaN
4  강백호  상북고  188   15   20   10  35  10         NaN
5  변덕규  능남고  202   80  100   95  85  80           C
6  황태산  능남고  188   55   65   45  40  35      PYTHON
7  윤대협  능남고  190  100   85   90  95  95          C#

In [138]:
df['학교']= df['학교'] + '등학교'

In [139]:
df

    이름      학교    키   국어   영어   수학  과학  사회        SW특기
0  채치수  상북고등학교  197   90   85  100  95  85      PYTHON
1  정대만  상북고등학교  184   40   35   50  55  25        JAVA
2  송태섭  상북고등학교  168   80   75   70  80  75  JAVASCRIPT
3  서태웅  상북고등학교  187   40   60   70  75  80         NaN
4  강백호  상북고등학교  188   15   20   10  35  10         NaN
5  변덕규  능남고등학교  202   80  100   95  85  80           C
6  황태산  능남고등학교  188   55   65   45  40  35      PYTHON
7  윤대협  능남고등학교  190  100   85   90  95  95          C#

In [140]:
df['총합']= df['국어'] +df['영어']+df['국어']+ df['과학']+df['사회']

In [141]:
df

    이름      학교    키   국어   영어   수학  과학  사회        SW특기   총합
0  채치수  상북고등학교  197   90   85  100  95  85      PYTHON  445
1  정대만  상북고등학교  184   40   35   50  55  25        JAVA  195
2  송태섭  상북고등학교  168   80   75   70  80  75  JAVASCRIPT  390
3  서태웅  상북고등학교  187   40   60   70  75  80         NaN  295
4  강백호  상북고등학교  188   15   20   10  35  10         NaN   95
5  변덕규  능남고등학교  202   80  100   95  85  80           C  425
6  황태산  능남고등학교  188   55   65   45  40  35      PYTHON  250
7  윤대협  능남고등학교  190  100   85   90  95  95          C#  475

In [142]:
df['결과']= 'Fail'
df

    이름      학교    키   국어   영어   수학  과학  사회        SW특기   총합    결과
0  채치수  상북고등학교  197   90   85  100  95  85      PYTHON  445  Fail
1  정대만  상북고등학교  184   40   35   50  55  25        JAVA  195  Fail
2  송태섭  상북고등학교  168   80   75   70  80  75  JAVASCRIPT  390  Fail
3  서태웅  상북고등학교  187   40   60   70  75  80         NaN  295  Fail
4  강백호  상북고등학교  188   15   20   10  35  10         NaN   95  Fail
5  변덕규  능남고등학교  202   80  100   95  85  80           C  425  Fail
6  황태산  능남고등학교  188   55   65   45  40  35      PYTHON  250  Fail
7  윤대협  능남고등학교  190  100   85   90  95  95          C#  475  Fail

In [143]:
df.loc[df['총합']> 400, '결과']= 'Pass'

In [144]:
df

    이름      학교    키   국어   영어   수학  과학  사회        SW특기   총합    결과
0  채치수  상북고등학교  197   90   85  100  95  85      PYTHON  445  Pass
1  정대만  상북고등학교  184   40   35   50  55  25        JAVA  195  Fail
2  송태섭  상북고등학교  168   80   75   70  80  75  JAVASCRIPT  390  Fail
3  서태웅  상북고등학교  187   40   60   70  75  80         NaN  295  Fail
4  강백호  상북고등학교  188   15   20   10  35  10         NaN   95  Fail
5  변덕규  능남고등학교  202   80  100   95  85  80           C  425  Pass
6  황태산  능남고등학교  188   55   65   45  40  35      PYTHON  250  Fail
7  윤대협  능남고등학교  190  100   85   90  95  95          C#  475  Pass

In [145]:
df.drop(columns=['총합'])

    이름      학교    키   국어   영어   수학  과학  사회        SW특기    결과
0  채치수  상북고등학교  197   90   85  100  95  85      PYTHON  Pass
1  정대만  상북고등학교  184   40   35   50  55  25        JAVA  Fail
2  송태섭  상북고등학교  168   80   75   70  80  75  JAVASCRIPT  Fail
3  서태웅  상북고등학교  187   40   60   70  75  80         NaN  Fail
4  강백호  상북고등학교  188   15   20   10  35  10         NaN  Fail
5  변덕규  능남고등학교  202   80  100   95  85  80           C  Pass
6  황태산  능남고등학교  188   55   65   45  40  35      PYTHON  Fail
7  윤대협  능남고등학교  190  100   85   90  95  95          C#  Pass

In [146]:
df.drop(columns=['국어','영어','수학'])

    이름      학교    키  과학  사회        SW특기   총합    결과
0  채치수  상북고등학교  197  95  85      PYTHON  445  Pass
1  정대만  상북고등학교  184  55  25        JAVA  195  Fail
2  송태섭  상북고등학교  168  80  75  JAVASCRIPT  390  Fail
3  서태웅  상북고등학교  187  75  80         NaN  295  Fail
4  강백호  상북고등학교  188  35  10         NaN   95  Fail
5  변덕규  능남고등학교  202  85  80           C  425  Pass
6  황태산  능남고등학교  188  40  35      PYTHON  250  Fail
7  윤대협  능남고등학교  190  95  95          C#  475  Pass

In [147]:
df.drop(index=4)

    이름      학교    키   국어   영어   수학  과학  사회        SW특기   총합    결과
0  채치수  상북고등학교  197   90   85  100  95  85      PYTHON  445  Pass
1  정대만  상북고등학교  184   40   35   50  55  25        JAVA  195  Fail
2  송태섭  상북고등학교  168   80   75   70  80  75  JAVASCRIPT  390  Fail
3  서태웅  상북고등학교  187   40   60   70  75  80         NaN  295  Fail
5  변덕규  능남고등학교  202   80  100   95  85  80           C  425  Pass
6  황태산  능남고등학교  188   55   65   45  40  35      PYTHON  250  Fail
7  윤대협  능남고등학교  190  100   85   90  95  95          C#  475  Pass

In [148]:
filt= df['수학'] <80
df[filt]

    이름      학교    키  국어  영어  수학  과학  사회        SW특기   총합    결과
1  정대만  상북고등학교  184  40  35  50  55  25        JAVA  195  Fail
2  송태섭  상북고등학교  168  80  75  70  80  75  JAVASCRIPT  390  Fail
3  서태웅  상북고등학교  187  40  60  70  75  80         NaN  295  Fail
4  강백호  상북고등학교  188  15  20  10  35  10         NaN   95  Fail
6  황태산  능남고등학교  188  55  65  45  40  35      PYTHON  250  Fail

In [149]:
df[filt].index

Int64Index([1, 2, 3, 4, 6], dtype='int64')

In [150]:
df.drop(index=df[filt].index)

    이름      학교    키   국어   영어   수학  과학  사회    SW특기   총합    결과
0  채치수  상북고등학교  197   90   85  100  95  85  PYTHON  445  Pass
5  변덕규  능남고등학교  202   80  100   95  85  80       C  425  Pass
7  윤대협  능남고등학교  190  100   85   90  95  95      C#  475  Pass

In [151]:
df.loc[9] = ['이정환','해남고등학교', 184, 90, 90, 90,90,90,'Kotrlin', 450, 'Pass']

In [152]:
df

    이름      학교    키   국어   영어   수학  과학  사회        SW특기   총합    결과
0  채치수  상북고등학교  197   90   85  100  95  85      PYTHON  445  Pass
1  정대만  상북고등학교  184   40   35   50  55  25        JAVA  195  Fail
2  송태섭  상북고등학교  168   80   75   70  80  75  JAVASCRIPT  390  Fail
3  서태웅  상북고등학교  187   40   60   70  75  80         NaN  295  Fail
4  강백호  상북고등학교  188   15   20   10  35  10         NaN   95  Fail
5  변덕규  능남고등학교  202   80  100   95  85  80           C  425  Pass
6  황태산  능남고등학교  188   55   65   45  40  35      PYTHON  250  Fail
7  윤대협  능남고등학교  190  100   85   90  95  95          C#  475  Pass
9  이정환  해남고등학교  184   90   90   90  90  90     Kotrlin  450  Pass

In [153]:

df.loc[4, 'SW특기']= 'Python'
df

    이름      학교    키   국어   영어   수학  과학  사회        SW특기   총합    결과
0  채치수  상북고등학교  197   90   85  100  95  85      PYTHON  445  Pass
1  정대만  상북고등학교  184   40   35   50  55  25        JAVA  195  Fail
2  송태섭  상북고등학교  168   80   75   70  80  75  JAVASCRIPT  390  Fail
3  서태웅  상북고등학교  187   40   60   70  75  80         NaN  295  Fail
4  강백호  상북고등학교  188   15   20   10  35  10      Python   95  Fail
5  변덕규  능남고등학교  202   80  100   95  85  80           C  425  Pass
6  황태산  능남고등학교  188   55   65   45  40  35      PYTHON  250  Fail
7  윤대협  능남고등학교  190  100   85   90  95  95          C#  475  Pass
9  이정환  해남고등학교  184   90   90   90  90  90     Kotrlin  450  Pass

In [154]:
df.loc[5, ['학교','SW특기']]= ['능남고등학교', 'C']
df

    이름      학교    키   국어   영어   수학  과학  사회        SW특기   총합    결과
0  채치수  상북고등학교  197   90   85  100  95  85      PYTHON  445  Pass
1  정대만  상북고등학교  184   40   35   50  55  25        JAVA  195  Fail
2  송태섭  상북고등학교  168   80   75   70  80  75  JAVASCRIPT  390  Fail
3  서태웅  상북고등학교  187   40   60   70  75  80         NaN  295  Fail
4  강백호  상북고등학교  188   15   20   10  35  10      Python   95  Fail
5  변덕규  능남고등학교  202   80  100   95  85  80           C  425  Pass
6  황태산  능남고등학교  188   55   65   45  40  35      PYTHON  250  Fail
7  윤대협  능남고등학교  190  100   85   90  95  95          C#  475  Pass
9  이정환  해남고등학교  184   90   90   90  90  90     Kotrlin  450  Pass

In [155]:
cols=list(df.columns)
cols

['이름', '학교', '키', '국어', '영어', '수학', '과학', '사회', 'SW특기', '총합', '결과']

In [156]:
df= df[[cols[-1]] + cols[0: -1]]
df

     결과   이름      학교    키   국어   영어   수학  과학  사회        SW특기   총합
0  Pass  채치수  상북고등학교  197   90   85  100  95  85      PYTHON  445
1  Fail  정대만  상북고등학교  184   40   35   50  55  25        JAVA  195
2  Fail  송태섭  상북고등학교  168   80   75   70  80  75  JAVASCRIPT  390
3  Fail  서태웅  상북고등학교  187   40   60   70  75  80         NaN  295
4  Fail  강백호  상북고등학교  188   15   20   10  35  10      Python   95
5  Pass  변덕규  능남고등학교  202   80  100   95  85  80           C  425
6  Fail  황태산  능남고등학교  188   55   65   45  40  35      PYTHON  250
7  Pass  윤대협  능남고등학교  190  100   85   90  95  95          C#  475
9  Pass  이정환  해남고등학교  184   90   90   90  90  90     Kotrlin  450

In [157]:
df.columns

Index(['결과', '이름', '학교', '키', '국어', '영어', '수학', '과학', '사회', 'SW특기', '총합'], dtype='object')

In [158]:
df

     결과   이름      학교    키   국어   영어   수학  과학  사회        SW특기   총합
0  Pass  채치수  상북고등학교  197   90   85  100  95  85      PYTHON  445
1  Fail  정대만  상북고등학교  184   40   35   50  55  25        JAVA  195
2  Fail  송태섭  상북고등학교  168   80   75   70  80  75  JAVASCRIPT  390
3  Fail  서태웅  상북고등학교  187   40   60   70  75  80         NaN  295
4  Fail  강백호  상북고등학교  188   15   20   10  35  10      Python   95
5  Pass  변덕규  능남고등학교  202   80  100   95  85  80           C  425
6  Fail  황태산  능남고등학교  188   55   65   45  40  35      PYTHON  250
7  Pass  윤대협  능남고등학교  190  100   85   90  95  95          C#  475
9  Pass  이정환  해남고등학교  184   90   90   90  90  90     Kotrlin  450

In [159]:
def add_cm(height):
  return str(height) + 'cm'

df['키']= df['키'].apply(add_cm)
df

     결과   이름      학교      키   국어   영어   수학  과학  사회        SW특기   총합
0  Pass  채치수  상북고등학교  197cm   90   85  100  95  85      PYTHON  445
1  Fail  정대만  상북고등학교  184cm   40   35   50  55  25        JAVA  195
2  Fail  송태섭  상북고등학교  168cm   80   75   70  80  75  JAVASCRIPT  390
3  Fail  서태웅  상북고등학교  187cm   40   60   70  75  80         NaN  295
4  Fail  강백호  상북고등학교  188cm   15   20   10  35  10      Python   95
5  Pass  변덕규  능남고등학교  202cm   80  100   95  85  80           C  425
6  Fail  황태산  능남고등학교  188cm   55   65   45  40  35      PYTHON  250
7  Pass  윤대협  능남고등학교  190cm  100   85   90  95  95          C#  475
9  Pass  이정환  해남고등학교  184cm   90   90   90  90  90     Kotrlin  450

In [160]:
def capitalize(lang):
  if pd.notnull(lang):
    return lang.capitalize()
  return lang

In [161]:
df['SW특기'] =df['SW특기'].apply(capitalize)
df

     결과   이름      학교      키   국어   영어   수학  과학  사회        SW특기   총합
0  Pass  채치수  상북고등학교  197cm   90   85  100  95  85      Python  445
1  Fail  정대만  상북고등학교  184cm   40   35   50  55  25        Java  195
2  Fail  송태섭  상북고등학교  168cm   80   75   70  80  75  Javascript  390
3  Fail  서태웅  상북고등학교  187cm   40   60   70  75  80         NaN  295
4  Fail  강백호  상북고등학교  188cm   15   20   10  35  10      Python   95
5  Pass  변덕규  능남고등학교  202cm   80  100   95  85  80           C  425
6  Fail  황태산  능남고등학교  188cm   55   65   45  40  35      Python  250
7  Pass  윤대협  능남고등학교  190cm  100   85   90  95  95          C#  475
9  Pass  이정환  해남고등학교  184cm   90   90   90  90  90     Kotrlin  450

In [165]:
df=pd.read_csv('score.csv')
df

    이름   학교    키   국어   영어   수학  과학  사회        SW특기
0  채치수  북산고  197   90   85  100  95  85      Python
1  정대만  북산고  184   40   35   50  55  25        Java
2  송태섭  북산고  168   80   75   70  80  75  Javascript
3  서태웅  북산고  187   40   60   70  75  80         NaN
4  강백호  북산고  188   15   20   10  35  10         NaN
5  변덕규  능남고  202   80  100   95  85  80           C
6  황태산  능남고  188   55   65   45  40  35      PYTHON
7  윤대협  능남고  190  100   85   90  95  95          C#

In [166]:
df.groupby('학교')

In [167]:
df.groupby('학교').get_group('북산고')

    이름   학교    키  국어  영어   수학  과학  사회        SW특기
0  채치수  북산고  197  90  85  100  95  85      Python
1  정대만  북산고  184  40  35   50  55  25        Java
2  송태섭  북산고  168  80  75   70  80  75  Javascript
3  서태웅  북산고  187  40  60   70  75  80         NaN
4  강백호  북산고  188  15  20   10  35  10         NaN

In [168]:
df.groupby('학교').get_group('능남고')

    이름   학교    키   국어   영어  수학  과학  사회    SW특기
5  변덕규  능남고  202   80  100  95  85  80       C
6  황태산  능남고  188   55   65  45  40  35  PYTHON
7  윤대협  능남고  190  100   85  90  95  95      C#

In [169]:
df.groupby('학교').mean()

              키         국어         영어         수학         과학    사회
학교
능남고  193.333333  78.333333  83.333333  76.666667  73.333333  70.0
북산고  184.800000  53.000000  55.000000  60.000000  68.000000  55.0

In [170]:
df.groupby('학교').size()

학교
능남고    3
북산고    5
dtype: int64

In [171]:
df.groupby('학교').size()['능남고']

3

In [173]:
df.groupby('학교')['키'].mean()

학교
능남고    193.333333
북산고    184.800000
Name: 키, dtype: float64

In [174]:
df.groupby('학교')[['국어','영어','수학']].mean()

            국어         영어         수학
학교
능남고  78.333333  83.333333  76.666667
북산고  53.000000  55.000000  60.000000

In [175]:
df['학년']=[3,3,2,1,1,3,2,2]
df

    이름   학교    키   국어   영어   수학  과학  사회        SW특기  학년
0  채치수  북산고  197   90   85  100  95  85      Python   3
1  정대만  북산고  184   40   35   50  55  25        Java   3
2  송태섭  북산고  168   80   75   70  80  75  Javascript   2
3  서태웅  북산고  187   40   60   70  75  80         NaN   1
4  강백호  북산고  188   15   20   10  35  10         NaN   1
5  변덕규  능남고  202   80  100   95  85  80           C   3
6  황태산  능남고  188   55   65   45  40  35      PYTHON   2
7  윤대협  능남고  190  100   85   90  95  95          C#   2

In [176]:
df.groupby(['학교','학년']).mean()

            키    국어     영어    수학    과학    사회
학교  학년
능남고 2   189.0  77.5   75.0  67.5  67.5  65.0
    3   202.0  80.0  100.0  95.0  85.0  80.0
북산고 1   187.5  27.5   40.0  40.0  55.0  45.0
    2   168.0  80.0   75.0  70.0  80.0  75.0
    3   190.5  65.0   60.0  75.0  75.0  55.0

In [177]:
df.groupby('학년').mean()

             키         국어         영어         수학         과학         사회
학년
1   187.500000  27.500000  40.000000  40.000000  55.000000  45.000000
2   182.000000  78.333333  75.000000  68.333333  71.666667  68.333333
3   194.333333  70.000000  73.333333  81.666667  78.333333  63.333333

In [178]:
df.groupby('학년').mean().sort_values('키')

             키         국어         영어         수학         과학         사회
학년
2   182.000000  78.333333  75.000000  68.333333  71.666667  68.333333
1   187.500000  27.500000  40.000000  40.000000  55.000000  45.000000
3   194.333333  70.000000  73.333333  81.666667  78.333333  63.333333

In [180]:
df.groupby('학년').mean().sort_values('키', ascending=False)

             키         국어         영어         수학         과학         사회
학년
3   194.333333  70.000000  73.333333  81.666667  78.333333  63.333333
1   187.500000  27.500000  40.000000  40.000000  55.000000  45.000000
2   182.000000  78.333333  75.000000  68.333333  71.666667  68.333333

In [181]:
df.groupby(['학교','학년']).sum()

          키   국어   영어   수학   과학   사회
학교  학년
능남고 2   378  155  150  135  135  130
    3   202   80  100   95   85   80
북산고 1   375   55   80   80  110   90
    2   168   80   75   70   80   75
    3   381  130  120  150  150  110

In [183]:
df.groupby('학교')[['이름','SW특기']].count()

     이름  SW특기
학교
능남고   3     3
북산고   5     3

In [184]:
school=df.groupby('학교')
school['학년'].value_counts()

학교   학년
능남고  2     2
     3     1
북산고  1     2
     3     2
     2     1
Name: 학년, dtype: int64

In [185]:
school['학년'].value_counts().loc['북산고']

학년
1    2
3    2
2    1
Name: 학년, dtype: int64

In [186]:
school['학년'].value_counts().loc['능남고']

학년
2    2
3    1
Name: 학년, dtype: int64

In [187]:
school['학년'].value_counts(normalize=True).loc['북산고']

학년
1    0.4
3    0.4
2    0.2
Name: 학년, dtype: float64

In [188]:
import pandas as pd
data = {
    '영화' : ['명량', '극한직업', '신과함께-죄와 벌', '국제시장', '괴물', '도둑들', '7번방의 선물', '암살'],
    '개봉 연도' : [2014, 2019, 2017, 2014, 2006, 2012, 2013, 2015],
    '관객 수' : [1761, 1626, 1441, 1426, 1301, 1298, 1281, 1270], # (단위 : 만 명)
    '평점' : [8.88, 9.20, 8.73, 9.16, 8.62, 7.64, 8.83, 9.10]
}
df = pd.DataFrame(data)
df

          영화  개봉 연도  관객 수    평점
0         명량   2014  1761  8.88
1       극한직업   2019  1626  9.20
2  신과함께-죄와 벌   2017  1441  8.73
3       국제시장   2014  1426  9.16
4         괴물   2006  1301  8.62
5        도둑들   2012  1298  7.64
6    7번방의 선물   2013  1281  8.83
7         암살   2015  1270  9.10

In [190]:
df['영화']

0           명량
1         극한직업
2    신과함께-죄와 벌
3         국제시장
4           괴물
5          도둑들
6      7번방의 선물
7           암살
Name: 영화, dtype: object

In [191]:
df[['영화','평점']]

          영화    평점
0         명량  8.88
1       극한직업  9.20
2  신과함께-죄와 벌  8.73
3       국제시장  9.16
4         괴물  8.62
5        도둑들  7.64
6    7번방의 선물  8.83
7         암살  9.10

In [199]:
df.loc[df['개봉 연도']>=2015, ['영화', '개봉 연도']]

          영화  개봉 연도
1       극한직업   2019
2  신과함께-죄와 벌   2017
7         암살   2015

In [200]:
df['추천 점수']= (df['관객 수'] * df['평점'])//100

In [201]:
df

          영화  개봉 연도  관객 수    평점  추천 점수
0         명량   2014  1761  8.88  156.0
1       극한직업   2019  1626  9.20  149.0
2  신과함께-죄와 벌   2017  1441  8.73  125.0
3       국제시장   2014  1426  9.16  130.0
4         괴물   2006  1301  8.62  112.0
5        도둑들   2012  1298  7.64   99.0
6    7번방의 선물   2013  1281  8.83  113.0
7         암살   2015  1270  9.10  115.0

In [202]:
df.sort_values('개봉 연도', ascending=False)

          영화  개봉 연도  관객 수    평점  추천 점수
1       극한직업   2019  1626  9.20  149.0
2  신과함께-죄와 벌   2017  1441  8.73  125.0
7         암살   2015  1270  9.10  115.0
0         명량   2014  1761  8.88  156.0
3       국제시장   2014  1426  9.16  130.0
6    7번방의 선물   2013  1281  8.83  113.0
5        도둑들   2012  1298  7.64   99.0
4         괴물   2006  1301  8.62  112.0