<a href="https://colab.research.google.com/github/jessica8403/TIL/blob/master/practice_22_01_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
rawData=pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/대기오염정보/airTraffic.csv')
rawData

           날짜  PM10  PM2.5    오 존  이산화질소  일산화탄소  아황산가스     vol
0    07-01-01  43.0   28.0  0.014  0.036    0.5  0.003  1542.0
1    07-01-02  38.0   25.0  0.013  0.029    0.5  0.003  1173.0
2    07-01-03  37.0   25.0  0.014  0.022    0.4  0.003   869.0
3    07-01-04  36.0   23.0  0.016  0.016    0.4  0.003   711.0
4    07-01-05  38.0   22.0  0.014  0.016    0.4  0.003   659.0
..        ...   ...    ...    ...    ...    ...    ...     ...
739  07-31-20  26.0   21.0  0.052  0.015    0.4  0.004  2456.0
740  07-31-21  26.0   19.0  0.042  0.017    0.4  0.004  1960.0
741  07-31-22  20.0   14.0  0.051  0.011    0.4  0.004  2083.0
742  07-31-23  22.0   17.0  0.052  0.011    0.4  0.003  2270.0
743  07-31-24  23.0   17.0  0.049  0.011    0.4  0.003  1399.0

[744 rows x 8 columns]

In [3]:
from matplotlib import font_manager, rcParams
!apt-get install fonts-nanum*
rcParams['font.family'] = 'NanumGothicCoding'
rcParams['axes.unicode_minus'] = False
font_manager._rebuild()

Reading package lists... Done
Building dependency tree
Reading state information... Done
Note, selecting 'fonts-nanum-eco' for glob 'fonts-nanum*'
Note, selecting 'fonts-nanum' for glob 'fonts-nanum*'
Note, selecting 'fonts-nanum-gothic-light' for glob 'fonts-nanum*'
Note, selecting 'fonts-nanum-coding' for glob 'fonts-nanum*'
Note, selecting 'fonts-nanum-extra' for glob 'fonts-nanum*'
The following NEW packages will be installed:
  fonts-nanum fonts-nanum-coding fonts-nanum-eco fonts-nanum-extra
0 upgraded, 4 newly installed, 0 to remove and 37 not upgraded.
Need to get 37.0 MB of archives.
After this operation, 145 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu bionic/universe amd64 fonts-nanum all 20170925-1 [9,604 kB]
Get:2 http://archive.ubuntu.com/ubuntu bionic/universe amd64 fonts-nanum-eco all 1.000-6 [14.0 MB]
Get:3 http://archive.ubuntu.com/ubuntu bionic/universe amd64 fonts-nanum-extra all 20170925-1 [12.2 MB]
Get:4 http://archive.ubuntu.com/ubuntu bionic/universe amd64 fonts-nanum-coding all 2.5-1 [1,083 kB]
Fetched 37.0 MB in 2s (17.7 MB/s)
Selecting previously unselected package fonts-nanum.
(Reading database ... 155225 files and directories currently installed.)
Preparing to unpack .../fonts-nanum_20170925-1_all.deb ...
Unpacking fonts-nanum (20170925-1) ...
Selecting previously unselected package fonts-nanum-eco.
Preparing to unpack .../fonts-nanum-eco_1.000-6_all.deb ...
Unpacking fonts-nanum-eco (1.000-6) ...
Selecting previously unselected package fonts-nanum-extra.
Preparing to unpack .../fonts-nanum-extra_20170925-1_all.deb ...
Unpacking fonts-nanum-extra (20170925-1) ...
Selecting previously unselected package fonts-nanum-coding.
Preparing to unpack .../fonts-nanum-coding_2.5-1_all.deb ...
Unpacking fonts-nanum-coding (2.5-1) ...
Setting up fonts-nanum-extra (20170925-1) ...
Setting up fonts-nanum (20170925-1) ...
Setting up fonts-nanum-coding (2.5-1) ...
Setting up fonts-nanum-eco (1.000-6) ...
Processing triggers for fontconfig (2.12.6-0ubuntu2) ...

In [4]:
rawData['dateTime'] = rawData['날짜']
rawData

           날짜  PM10  PM2.5    오 존  이산화질소  일산화탄소  아황산가스     vol  dateTime
0    07-01-01  43.0   28.0  0.014  0.036    0.5  0.003  1542.0  07-01-01
1    07-01-02  38.0   25.0  0.013  0.029    0.5  0.003  1173.0  07-01-02
2    07-01-03  37.0   25.0  0.014  0.022    0.4  0.003   869.0  07-01-03
3    07-01-04  36.0   23.0  0.016  0.016    0.4  0.003   711.0  07-01-04
4    07-01-05  38.0   22.0  0.014  0.016    0.4  0.003   659.0  07-01-05
..        ...   ...    ...    ...    ...    ...    ...     ...       ...
739  07-31-20  26.0   21.0  0.052  0.015    0.4  0.004  2456.0  07-31-20
740  07-31-21  26.0   19.0  0.042  0.017    0.4  0.004  1960.0  07-31-21
741  07-31-22  20.0   14.0  0.051  0.011    0.4  0.004  2083.0  07-31-22
742  07-31-23  22.0   17.0  0.052  0.011    0.4  0.003  2270.0  07-31-23
743  07-31-24  23.0   17.0  0.049  0.011    0.4  0.003  1399.0  07-31-24

[744 rows x 9 columns]

In [20]:
def setDateTime( row ):
  month, day, hour = row['dateTime'].split('-')
  hour = '{:02}'.format(int(hour) - 1)
  return pd.to_datetime( '-'.join( [ '2021', month, day, hour] ), format='%Y-%m-%d-%H' )

rawData['dateTime'] = rawData.apply( lambda x: setDateTime(x), axis=1 )
rawData

           날짜  PM10  PM2.5    오 존  ...  일산화탄소  아황산가스     vol            dateTime
0    07-01-01  43.0   28.0  0.014  ...    0.5  0.003  1542.0 2021-07-01 00:00:00
1    07-01-02  38.0   25.0  0.013  ...    0.5  0.003  1173.0 2021-07-01 01:00:00
2    07-01-03  37.0   25.0  0.014  ...    0.4  0.003   869.0 2021-07-01 02:00:00
3    07-01-04  36.0   23.0  0.016  ...    0.4  0.003   711.0 2021-07-01 03:00:00
4    07-01-05  38.0   22.0  0.014  ...    0.4  0.003   659.0 2021-07-01 04:00:00
..        ...   ...    ...    ...  ...    ...    ...     ...                 ...
739  07-31-20  26.0   21.0  0.052  ...    0.4  0.004  2456.0 2021-07-31 19:00:00
740  07-31-21  26.0   19.0  0.042  ...    0.4  0.004  1960.0 2021-07-31 20:00:00
741  07-31-22  20.0   14.0  0.051  ...    0.4  0.004  2083.0 2021-07-31 21:00:00
742  07-31-23  22.0   17.0  0.052  ...    0.4  0.003  2270.0 2021-07-31 22:00:00
743  07-31-24  23.0   17.0  0.049  ...    0.4  0.003  1399.0 2021-07-31 23:00:00

[744 rows x 9 columns]

In [23]:
rawData.set_index('dateTime', inplace=True)
rawData

                           날짜  PM10  PM2.5    오 존  이산화질소  일산화탄소  아황산가스     vol
dateTime
2021-07-01 00:00:00  07-01-01  43.0   28.0  0.014  0.036    0.5  0.003  1542.0
2021-07-01 01:00:00  07-01-02  38.0   25.0  0.013  0.029    0.5  0.003  1173.0
2021-07-01 02:00:00  07-01-03  37.0   25.0  0.014  0.022    0.4  0.003   869.0
2021-07-01 03:00:00  07-01-04  36.0   23.0  0.016  0.016    0.4  0.003   711.0
2021-07-01 04:00:00  07-01-05  38.0   22.0  0.014  0.016    0.4  0.003   659.0
...                       ...   ...    ...    ...    ...    ...    ...     ...
2021-07-31 19:00:00  07-31-20  26.0   21.0  0.052  0.015    0.4  0.004  2456.0
2021-07-31 20:00:00  07-31-21  26.0   19.0  0.042  0.017    0.4  0.004  1960.0
2021-07-31 21:00:00  07-31-22  20.0   14.0  0.051  0.011    0.4  0.004  2083.0
2021-07-31 22:00:00  07-31-23  22.0   17.0  0.052  0.011    0.4  0.003  2270.0
2021-07-31 23:00:00  07-31-24  23.0   17.0  0.049  0.011    0.4  0.003  1399.0

[744 rows x 8 columns]

In [24]:
rawData.index

DatetimeIndex(['2021-07-01 00:00:00', '2021-07-01 01:00:00',
               '2021-07-01 02:00:00', '2021-07-01 03:00:00',
               '2021-07-01 04:00:00', '2021-07-01 05:00:00',
               '2021-07-01 06:00:00', '2021-07-01 07:00:00',
               '2021-07-01 08:00:00', '2021-07-01 09:00:00',
               ...
               '2021-07-31 14:00:00', '2021-07-31 15:00:00',
               '2021-07-31 16:00:00', '2021-07-31 17:00:00',
               '2021-07-31 18:00:00', '2021-07-31 19:00:00',
               '2021-07-31 20:00:00', '2021-07-31 21:00:00',
               '2021-07-31 22:00:00', '2021-07-31 23:00:00'],
              dtype='datetime64[ns]', name='dateTime', length=744, freq=None)

In [27]:
rawData= rawData.asfreq('H')

In [28]:
rawData.index

DatetimeIndex(['2021-07-01 00:00:00', '2021-07-01 01:00:00',
               '2021-07-01 02:00:00', '2021-07-01 03:00:00',
               '2021-07-01 04:00:00', '2021-07-01 05:00:00',
               '2021-07-01 06:00:00', '2021-07-01 07:00:00',
               '2021-07-01 08:00:00', '2021-07-01 09:00:00',
               ...
               '2021-07-31 14:00:00', '2021-07-31 15:00:00',
               '2021-07-31 16:00:00', '2021-07-31 17:00:00',
               '2021-07-31 18:00:00', '2021-07-31 19:00:00',
               '2021-07-31 20:00:00', '2021-07-31 21:00:00',
               '2021-07-31 22:00:00', '2021-07-31 23:00:00'],
              dtype='datetime64[ns]', name='dateTime', length=744, freq='H')