<a href="https://colab.research.google.com/github/jessica8403/TIL/blob/master/%EC%B6%9C%EC%83%9D%EB%A5%A0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
rawData = pd.read_csv('/content/drive/MyDrive/시군구_성_월별_출생_(10_20).csv', encoding="cp949")

In [ ]:
rawData

     시군구별 2010. 01 2010. 01.1  ... 2020. 12 2020. 12.1 2020. 12.2
0    시군구별    계 (명)     남자 (명)  ...    계 (명)     남자 (명)     여자 (명)
1   서울특별시     8711       4556  ...     3428       1760       1668
2     종로구      114         59  ...       29         13         16
3      중구      121         62  ...       40         23         17
4     용산구      200        102  ...       93         46         47
5     성동구      269        145  ...      114         62         52
6     광진구      332        177  ...      110         50         60
7    동대문구      258        131  ...      139         70         69
8     중랑구      360        200  ...      145         65         80
9     성북구      452        229  ...      121         64         57
10    강북구      225        109  ...       76         41         35
11    도봉구      282        155  ...       89         49         40
12    노원구      490        254  ...      177         89         88
13    은평구      361        198  ...      165         80         85
14   서대문구      251        138  ...      100         52         48
15    마포구      358        192  ...      158         78         80
16    양천구      330        187  ...      128         82         46
17    강서구      533        295  ...      197        107         90
18    구로구      456        226  ...      169         82         87
19    금천구      176         81  ...       72         30         42
20   영등포구      447        237  ...      192        106         86
21    동작구      327        183  ...      153         92         61
22    관악구      472        214  ...      128         56         72
23    서초구      379        204  ...      170         91         79
24    강남구      428        225  ...      179         89         90
25    송파구      662        331  ...      297        152        145
26    강동구      428        222  ...      187         91         96

[27 rows x 397 columns]

In [ ]:
rawData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Columns: 397 entries, 시군구별 to 2020. 12.2
dtypes: object(397)
memory usage: 83.9+ KB

In [ ]:
type( rawData['시군구별'] )

pandas.core.series.Series

In [ ]:
rawData[ rawData['시군구별'] == '서울특별시' ]

    시군구별 2010. 01 2010. 01.1  ... 2020. 12 2020. 12.1 2020. 12.2
1  서울특별시     8711       4556  ...     3428       1760       1668

[1 rows x 397 columns]

In [ ]:
#엑셀 이용
rawData = pd.read_csv('/content/drive/MyDrive/출생률 사본1.csv', encoding="cp949")

In [ ]:
rawData

     시군구별   2010 2010(남) 2010(여)   2011  ... 2019(남) 2019(여)   2020 2020(남) 2020(여)
0    시군구별  계 (명)  남자 (명)  여자 (명)  계 (명)  ...  남자 (명)  여자 (명)  계 (명)  남자 (명)  여자 (명)
1   서울특별시  93266   48121   45145  91526  ...   27811   25862  47445   24344   23101
2     종로구   1107     566     541   1103  ...     334     339    529     268     261
3      중구   1170     600     570   1105  ...     426     357    690     348     342
4     용산구   2312    1157    1155   2309  ...     684     630   1176     611     565
5     성동구   2886    1508    1378   2776  ...    1120    1071   1945    1009     936
6     광진구   3366    1761    1605   3184  ...    1022     935   1532     769     763
7    동대문구   2880    1490    1390   2947  ...     943     941   1702     860     842
8     중랑구   3570    1879    1691   3450  ...    1176    1068   1873     957     916
9     성북구   4409    2213    2196   4414  ...    1098    1049   2041    1022    1019
10    강북구   2801    1412    1389   2789  ...     637     590   1049     557     492
11    도봉구   3158    1640    1518   3005  ...     786     697   1218     631     587
12    노원구   5298    2729    2569   5063  ...    1349    1255   2252    1188    1064
13    은평구   4095    2123    1972   4318  ...    1253    1154   2144    1092    1052
14   서대문구   2713    1420    1293   2368  ...     770     751   1533     775     758
15    마포구   3824    1977    1847   3859  ...    1200    1134   2015    1057     958
16    양천구   3678    1929    1749   3727  ...    1203    1019   1875     977     898
17    강서구   5720    3051    2669   5753  ...    1995    1846   3345    1692    1653
18    구로구   4770    2439    2331   4633  ...    1270    1190   2269    1203    1066
19    금천구   2002    1046     956   1927  ...     622     532   1092     553     539
20   영등포구   4288    2206    2082   4050  ...    1338    1295   2296    1200    1096
21    동작구   3846    2012    1834   3837  ...    1174    1053   2044    1076     968
22    관악구   4738    2391    2347   4729  ...    1155    1090   1905     955     950
23    서초구   4403    2253    2150   4190  ...    1337    1175   2238    1165    1073
24    강남구   4836    2478    2358   4761  ...    1432    1317   2356    1232    1124
25    송파구   6750    3473    3277   6574  ...    2277    2147   3791    1906    1885
26    강동구   4646    2368    2278   4655  ...    1210    1227   2535    1241    1294

[27 rows x 34 columns]

In [ ]:
rawData=rawData.transpose()

In [ ]:
rawData

             0      1     2     3     4   ...    22    23    24    25    26
시군구별       시군구별  서울특별시   종로구    중구   용산구  ...   관악구   서초구   강남구   송파구   강동구
2010      계 (명)  93266  1107  1170  2312  ...  4738  4403  4836  6750  4646
2010(남)  남자 (명)  48121   566   600  1157  ...  2391  2253  2478  3473  2368
2010(여)  여자 (명)  45145   541   570  1155  ...  2347  2150  2358  3277  2278
2011      계 (명)  91526  1103  1105  2309  ...  4729  4190  4761  6574  4655
2011(남)  남자 (명)  46853   561   550  1190  ...  2418  2167  2448  3444  2428
2011(여)  여자 (명)  44673   542   555  1119  ...  2311  2023  2313  3130  2227
2012      계 (명)  93914  1100  1215  2411  ...  4596  4439  4903  6859  4590
2012(남)  남자 (명)  48353   590   609  1240  ...  2403  2308  2522  3532  2343
2012(여)  여자 (명)  45561   510   606  1171  ...  2193  2131  2381  3327  2247
2013      계 (명)  84066   873  1022  2129  ...  4140  4081  4551  5963  4070
2013(남)  남자 (명)  43181   440   531  1091  ...  2099  2113  2326  3082  2125
2013(여)  여자 (명)  40885   433   491  1038  ...  2041  1968  2225  2881  1945
2014      계 (명)  90865   982  1120  2156  ...  4428  4504  5105  6504  4438
2014(남)  남자 (명)  42899   474   531  1018  ...  2080  2152  2401  3030  2087
2014(여)  여자 (명)  40812   431   510   958  ...  1991  1983  2253  2971  2002
2015      계 (명)  83005   906   950  1967  ...  3960  4078  4595  5899  3865
2015(남)  남자 (명)  42370   449   485   996  ...  2035  2053  2369  3045  2022
2015(여)  여자 (명)  40635   457   465   971  ...  1925  2025  2226  2854  1843
2016      계 (명)  75536   846   959  1708  ...  3561  3629  4122  5500  3293
2016(남)  남자 (명)  38744   444   497   878  ...  1803  1827  2047  2915  1689
2016(여)  여자 (명)  36792   402   462   830  ...  1758  1802  2075  2585  1604
2017      계 (명)  65389   689   808  1464  ...  2931  3039  3456  4976  2968
2017(남)  남자 (명)  33485   337   397   745  ...  1487  1559  1783  2606  1501
2017(여)  여자 (명)  31904   352   411   719  ...  1444  1480  1673  2370  1467
2018      계 (명)  58074   644   733  1377  ...  2582  2919  2940  4567  2659
2018(남)  남자 (명)  30137   348   342   717  ...  1384  1557  1568  2422  1366
2018(여)  여자 (명)  27937   296   391   660  ...  1198  1362  1372  2145  1293
2019      계 (명)  53673   673   783  1314  ...  2245  2512  2749  4424  2437
2019(남)  남자 (명)  27811   334   426   684  ...  1155  1337  1432  2277  1210
2019(여)  여자 (명)  25862   339   357   630  ...  1090  1175  1317  2147  1227
2020      계 (명)  47445   529   690  1176  ...  1905  2238  2356  3791  2535
2020(남)  남자 (명)  24344   268   348   611  ...   955  1165  1232  1906  1241
2020(여)  여자 (명)  23101   261   342   565  ...   950  1073  1124  1885  1294

[34 rows x 27 columns]

In [ ]:
rawData = pd.read_csv('/content/drive/MyDrive/출생률 사본1.csv', encoding="cp949")

In [ ]:
rawData

       연도   2010 2010(남) 2010(여)   2011  ... 2019(남) 2019(여)   2020 2020(남) 2020(여)
0    시군구별  계 (명)  남자 (명)  여자 (명)  계 (명)  ...  남자 (명)  여자 (명)  계 (명)  남자 (명)  여자 (명)
1   서울특별시  93266   48121   45145  91526  ...   27811   25862  47445   24344   23101
2     종로구   1107     566     541   1103  ...     334     339    529     268     261
3      중구   1170     600     570   1105  ...     426     357    690     348     342
4     용산구   2312    1157    1155   2309  ...     684     630   1176     611     565
5     성동구   2886    1508    1378   2776  ...    1120    1071   1945    1009     936
6     광진구   3366    1761    1605   3184  ...    1022     935   1532     769     763
7    동대문구   2880    1490    1390   2947  ...     943     941   1702     860     842
8     중랑구   3570    1879    1691   3450  ...    1176    1068   1873     957     916
9     성북구   4409    2213    2196   4414  ...    1098    1049   2041    1022    1019
10    강북구   2801    1412    1389   2789  ...     637     590   1049     557     492
11    도봉구   3158    1640    1518   3005  ...     786     697   1218     631     587
12    노원구   5298    2729    2569   5063  ...    1349    1255   2252    1188    1064
13    은평구   4095    2123    1972   4318  ...    1253    1154   2144    1092    1052
14   서대문구   2713    1420    1293   2368  ...     770     751   1533     775     758
15    마포구   3824    1977    1847   3859  ...    1200    1134   2015    1057     958
16    양천구   3678    1929    1749   3727  ...    1203    1019   1875     977     898
17    강서구   5720    3051    2669   5753  ...    1995    1846   3345    1692    1653
18    구로구   4770    2439    2331   4633  ...    1270    1190   2269    1203    1066
19    금천구   2002    1046     956   1927  ...     622     532   1092     553     539
20   영등포구   4288    2206    2082   4050  ...    1338    1295   2296    1200    1096
21    동작구   3846    2012    1834   3837  ...    1174    1053   2044    1076     968
22    관악구   4738    2391    2347   4729  ...    1155    1090   1905     955     950
23    서초구   4403    2253    2150   4190  ...    1337    1175   2238    1165    1073
24    강남구   4836    2478    2358   4761  ...    1432    1317   2356    1232    1124
25    송파구   6750    3473    3277   6574  ...    2277    2147   3791    1906    1885
26    강동구   4646    2368    2278   4655  ...    1210    1227   2535    1241    1294

[27 rows x 34 columns]

In [ ]:
rawData=rawData.transpose()

In [ ]:
rawData

             0      1     2     3     4   ...    22    23    24    25    26
연도         시군구별  서울특별시   종로구    중구   용산구  ...   관악구   서초구   강남구   송파구   강동구
2010      계 (명)  93266  1107  1170  2312  ...  4738  4403  4836  6750  4646
2010(남)  남자 (명)  48121   566   600  1157  ...  2391  2253  2478  3473  2368
2010(여)  여자 (명)  45145   541   570  1155  ...  2347  2150  2358  3277  2278
2011      계 (명)  91526  1103  1105  2309  ...  4729  4190  4761  6574  4655
2011(남)  남자 (명)  46853   561   550  1190  ...  2418  2167  2448  3444  2428
2011(여)  여자 (명)  44673   542   555  1119  ...  2311  2023  2313  3130  2227
2012      계 (명)  93914  1100  1215  2411  ...  4596  4439  4903  6859  4590
2012(남)  남자 (명)  48353   590   609  1240  ...  2403  2308  2522  3532  2343
2012(여)  여자 (명)  45561   510   606  1171  ...  2193  2131  2381  3327  2247
2013      계 (명)  84066   873  1022  2129  ...  4140  4081  4551  5963  4070
2013(남)  남자 (명)  43181   440   531  1091  ...  2099  2113  2326  3082  2125
2013(여)  여자 (명)  40885   433   491  1038  ...  2041  1968  2225  2881  1945
2014      계 (명)  90865   982  1120  2156  ...  4428  4504  5105  6504  4438
2014(남)  남자 (명)  42899   474   531  1018  ...  2080  2152  2401  3030  2087
2014(여)  여자 (명)  40812   431   510   958  ...  1991  1983  2253  2971  2002
2015      계 (명)  83005   906   950  1967  ...  3960  4078  4595  5899  3865
2015(남)  남자 (명)  42370   449   485   996  ...  2035  2053  2369  3045  2022
2015(여)  여자 (명)  40635   457   465   971  ...  1925  2025  2226  2854  1843
2016      계 (명)  75536   846   959  1708  ...  3561  3629  4122  5500  3293
2016(남)  남자 (명)  38744   444   497   878  ...  1803  1827  2047  2915  1689
2016(여)  여자 (명)  36792   402   462   830  ...  1758  1802  2075  2585  1604
2017      계 (명)  65389   689   808  1464  ...  2931  3039  3456  4976  2968
2017(남)  남자 (명)  33485   337   397   745  ...  1487  1559  1783  2606  1501
2017(여)  여자 (명)  31904   352   411   719  ...  1444  1480  1673  2370  1467
2018      계 (명)  58074   644   733  1377  ...  2582  2919  2940  4567  2659
2018(남)  남자 (명)  30137   348   342   717  ...  1384  1557  1568  2422  1366
2018(여)  여자 (명)  27937   296   391   660  ...  1198  1362  1372  2145  1293
2019      계 (명)  53673   673   783  1314  ...  2245  2512  2749  4424  2437
2019(남)  남자 (명)  27811   334   426   684  ...  1155  1337  1432  2277  1210
2019(여)  여자 (명)  25862   339   357   630  ...  1090  1175  1317  2147  1227
2020      계 (명)  47445   529   690  1176  ...  1905  2238  2356  3791  2535
2020(남)  남자 (명)  24344   268   348   611  ...   955  1165  1232  1906  1241
2020(여)  여자 (명)  23101   261   342   565  ...   950  1073  1124  1885  1294

[34 rows x 27 columns]

In [ ]:
rawData

       연도   2010 2010(남) 2010(여)   2011  ... 2019(남) 2019(여)   2020 2020(남) 2020(여)
0    시군구별  계 (명)  남자 (명)  여자 (명)  계 (명)  ...  남자 (명)  여자 (명)  계 (명)  남자 (명)  여자 (명)
1   서울특별시  93266   48121   45145  91526  ...   27811   25862  47445   24344   23101
2     종로구   1107     566     541   1103  ...     334     339    529     268     261
3      중구   1170     600     570   1105  ...     426     357    690     348     342
4     용산구   2312    1157    1155   2309  ...     684     630   1176     611     565
5     성동구   2886    1508    1378   2776  ...    1120    1071   1945    1009     936
6     광진구   3366    1761    1605   3184  ...    1022     935   1532     769     763
7    동대문구   2880    1490    1390   2947  ...     943     941   1702     860     842
8     중랑구   3570    1879    1691   3450  ...    1176    1068   1873     957     916
9     성북구   4409    2213    2196   4414  ...    1098    1049   2041    1022    1019
10    강북구   2801    1412    1389   2789  ...     637     590   1049     557     492
11    도봉구   3158    1640    1518   3005  ...     786     697   1218     631     587
12    노원구   5298    2729    2569   5063  ...    1349    1255   2252    1188    1064
13    은평구   4095    2123    1972   4318  ...    1253    1154   2144    1092    1052
14   서대문구   2713    1420    1293   2368  ...     770     751   1533     775     758
15    마포구   3824    1977    1847   3859  ...    1200    1134   2015    1057     958
16    양천구   3678    1929    1749   3727  ...    1203    1019   1875     977     898
17    강서구   5720    3051    2669   5753  ...    1995    1846   3345    1692    1653
18    구로구   4770    2439    2331   4633  ...    1270    1190   2269    1203    1066
19    금천구   2002    1046     956   1927  ...     622     532   1092     553     539
20   영등포구   4288    2206    2082   4050  ...    1338    1295   2296    1200    1096
21    동작구   3846    2012    1834   3837  ...    1174    1053   2044    1076     968
22    관악구   4738    2391    2347   4729  ...    1155    1090   1905     955     950
23    서초구   4403    2253    2150   4190  ...    1337    1175   2238    1165    1073
24    강남구   4836    2478    2358   4761  ...    1432    1317   2356    1232    1124
25    송파구   6750    3473    3277   6574  ...    2277    2147   3791    1906    1885
26    강동구   4646    2368    2278   4655  ...    1210    1227   2535    1241    1294

[27 rows x 34 columns]

In [ ]:
rawData = pd.read_csv('/content/drive/MyDrive/출생률 사본1.csv', encoding="cp949")

In [ ]:
rawData

    시군구별   2010년  2010년(남)  2010년(여)  ...  2019년(여)  2020년  2020년(남)  2020년(여)
0   서울특별시  93266     48121     45145  ...     25862  47445     24344     23101
1     종로구   1107       566       541  ...       339    529       268       261
2      중구   1170       600       570  ...       357    690       348       342
3     용산구   2312      1157      1155  ...       630   1176       611       565
4     성동구   2886      1508      1378  ...      1071   1945      1009       936
5     광진구   3366      1761      1605  ...       935   1532       769       763
6    동대문구   2880      1490      1390  ...       941   1702       860       842
7     중랑구   3570      1879      1691  ...      1068   1873       957       916
8     성북구   4409      2213      2196  ...      1049   2041      1022      1019
9     강북구   2801      1412      1389  ...       590   1049       557       492
10    도봉구   3158      1640      1518  ...       697   1218       631       587
11    노원구   5298      2729      2569  ...      1255   2252      1188      1064
12    은평구   4095      2123      1972  ...      1154   2144      1092      1052
13   서대문구   2713      1420      1293  ...       751   1533       775       758
14    마포구   3824      1977      1847  ...      1134   2015      1057       958
15    양천구   3678      1929      1749  ...      1019   1875       977       898
16    강서구   5720      3051      2669  ...      1846   3345      1692      1653
17    구로구   4770      2439      2331  ...      1190   2269      1203      1066
18    금천구   2002      1046       956  ...       532   1092       553       539
19   영등포구   4288      2206      2082  ...      1295   2296      1200      1096
20    동작구   3846      2012      1834  ...      1053   2044      1076       968
21    관악구   4738      2391      2347  ...      1090   1905       955       950
22    서초구   4403      2253      2150  ...      1175   2238      1165      1073
23    강남구   4836      2478      2358  ...      1317   2356      1232      1124
24    송파구   6750      3473      3277  ...      2147   3791      1906      1885
25    강동구   4646      2368      2278  ...      1227   2535      1241      1294

[26 rows x 34 columns]